In [1]:
import pandas as pd

In [2]:
crop = pd.read_csv("/content/Crops.csv")
fert = pd.read_csv("/content/Fertilizer.csv")

In [3]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
crop.label.unique()

array(['rice', 'wheat', 'Mung Bean', 'Tea', 'millet', 'maize', 'Lentil',
       'Jute', 'Coffee', 'Cotton', 'Ground Nut', 'Peas', 'Rubber',
       'Sugarcane', 'Tobacco', 'Kidney Beans', 'Moth Beans', 'Coconut',
       'Black gram', 'Adzuki Beans', 'Pigeon Peas', 'Chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [5]:
del fert['Unnamed: 0']

In [6]:
fert.head()

               Crop   N   P   K   pH
0              Rice  80  40  40  5.5
1    Jowar(Sorghum)  80  40  40  5.5
2       Barley(JAV)  70  40  45  5.5
3             Maize  80  40  20  5.5
4  Ragi( naachnnii)  50  40  20  5.5

In [7]:
fert.Crop.unique()

array(['Rice', 'Jowar(Sorghum)', 'Barley(JAV)', 'Maize',
       'Ragi( naachnnii)', 'Chickpeas(Channa)', 'French Beans(Farasbi)',
       'Fava beans (Papdi - Val)', 'Lima beans(Pavta)',
       'Cluster Beans(Gavar)', 'Soyabean', 'Black eyed beans( chawli)',
       'Kidney beans', 'pigeon peas(Toor Dal)', 'Moth bean(Matki)',
       'Mung beans', 'Green Peas', 'Horse Gram(kulthi)', 'Black Gram',
       'Rapeseed (Mohri)', 'Coriander seeds', 'Mustard seeds',
       'sesame seed', 'Cumin seeds', 'Lentils(Masoor Dal)', 'Brinjal',
       'Beetroot', 'Bitter Gourd', 'Bottle Gourd', 'Capsicum', 'Cabbage',
       'Carrot', 'Cauliflower', 'Cucumber', 'Coriander leaves',
       'Curry leaves', 'Drumstick – moringa', 'Chili', 'Lady Finger',
       'Mushroom', 'Onion', 'Potato', 'Pumpkin', 'Radish', 'Olive',
       'Sweet Potato', 'Fenugreek Leaf(methi)', 'Spinach', 'Ridgegourd',
       'Gooseberry(Amla)', 'Jambun(Syzygium cumini)',
       'Ziziphus mauritiana(Bor)', 'Garcinia indica(kokam)', 'Tamarind',
       'Tapioca(Suran)', 'Garlic', 'Lemon', 'Tomato', 'Ash Gourd',
       'Pineapple', 'Pomegranate', 'Banana', 'Mango', 'Grapes',
       'Jackfruit', 'Guava', 'Water Melon', 'Musk Melon', 'Apricot',
       'Apple', 'Chickoo', 'Custard apple', 'Dates', 'Figs', 'Orange',
       'Papaya', 'Aniseed', 'Asafoetida', 'Bay Leaf', 'Black Pepper',
       'Cardamom', 'Cinnamon', 'Cloves', 'Jaiphal(Nutmeg)', 'Ginger',
       'Turmeric', 'Cashewnuts', 'Raisins', 'Coconut', 'Almond Nut',
       'Arecanut', 'Pistachio Nut', 'Lemon Grass', 'Cotton', 'Jute',
       'Coffee', 'Sunflower'], dtype=object)

In [8]:
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [9]:
fert['Crop'] = fert['Crop'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [10]:

fert['Crop'] = fert['Crop'].replace('mungbeans','mungbean')
fert['Crop'] = fert['Crop'].replace('lentils(masoordal)','lentil')
fert['Crop'] = fert['Crop'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop'] = fert['Crop'].replace('mothbean(matki)','mothbeans')
fert['Crop'] = fert['Crop'].replace('chickpeas(channa)','chickpea')

In [11]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [12]:
crop_names_from_fert = fert['Crop'].unique()
crop_names_from_fert

array(['rice', 'jowar(sorghum)', 'barley(jav)', 'maize',
       'ragi(naachnnii)', 'chickpea', 'frenchbeans(farasbi)',
       'favabeans(papdi-val)', 'limabeans(pavta)', 'clusterbeans(gavar)',
       'soyabean', 'blackeyedbeans(chawli)', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'greenpeas', 'horsegram(kulthi)',
       'blackgram', 'rapeseed(mohri)', 'corianderseeds', 'mustardseeds',
       'sesameseed', 'cuminseeds', 'lentil', 'brinjal', 'beetroot',
       'bittergourd', 'bottlegourd', 'capsicum', 'cabbage', 'carrot',
       'cauliflower', 'cucumber', 'corianderleaves', 'curryleaves',
       'drumstick–moringa', 'chili', 'ladyfinger', 'mushroom', 'onion',
       'potato', 'pumpkin', 'radish', 'olive', 'sweetpotato',
       'fenugreekleaf(methi)', 'spinach', 'ridgegourd',
       'gooseberry(amla)', 'jambun(syzygiumcumini)',
       'ziziphusmauritiana(bor)', 'garciniaindica(kokam)', 'tamarind',
       'tapioca(suran)', 'garlic', 'lemon', 'tomato', 'ashgourd',
       'pineapple', 'pomegranate', 'banana', 'mango', 'grapes',
       'jackfruit', 'guava', 'watermelon', 'muskmelon', 'apricot',
       'apple', 'chickoo', 'custardapple', 'dates', 'figs', 'orange',
       'papaya', 'aniseed', 'asafoetida', 'bayleaf', 'blackpepper',
       'cardamom', 'cinnamon', 'cloves', 'jaiphal(nutmeg)', 'ginger',
       'turmeric', 'cashewnuts', 'raisins', 'coconut', 'almondnut',
       'arecanut', 'pistachionut', 'lemongrass', 'cotton', 'jute',
       'coffee', 'sunflower'], dtype=object)

In [13]:

extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [14]:
new_crop = pd.DataFrame(columns = crop.columns)
new_fert = pd.DataFrame(columns = fert.columns)
for label in extract_labels:
    new_crop = new_crop.append(crop[crop['label'] == label])

for label in extract_labels:
    new_fert = new_fert.append(fert[fert['Crop'] == label].iloc[0])

In [15]:
fert.shape

(1843, 5)

In [16]:
fert_copy = new_fert.copy()

In [17]:
import random
temp = pd.DataFrame(columns = ['N','P','K'])
for i in range(0,new_crop.shape[0]):
    crop = new_crop.label.iloc[i]
    N = fert_copy[fert_copy['Crop'] == crop]["N"].iloc[0] + random.randint(-20,20)
    P = fert_copy[fert_copy['Crop'] == crop]["P"].iloc[0] + random.randint(-5,20)
    K = fert_copy[fert_copy['Crop'] == crop]["K"].iloc[0] + random.randint(-5,5)
    d = {"N":N,"P":P,"K":K}
    temp = temp.append(d,ignore_index = True)

In [19]:
new_crop['N'] = temp['N']
new_crop['P'] = temp['P']
new_crop['K'] = temp['K']

In [40]:
crop_recomm = new_crop.dropna()

In [50]:
crop_recomm.head()

   temperature   humidity        ph    rainfall label   N   P   K
0    20.879744  82.002744  6.502985  202.935536  rice  82  46  38
1    21.770462  80.319644  7.038096  226.655537  rice  72  51  35
2    23.004459  82.320763  7.840207  263.964248  rice  90  46  40
3    26.491096  80.158363  6.980401  242.864034  rice  89  55  38
4    20.130175  81.604873  7.628473  262.717340  rice  87  51  42

In [20]:
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree

In [41]:
features = crop_recomm[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = crop_recomm['label']

In [42]:
from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2,random_state =2)

In [43]:
Xtrain

       N   P   K  temperature   humidity        ph    rainfall
688    4  59  18    24.849184  68.980884  7.272428   41.610805
1649  33  12  12    31.969879  57.173770  6.276004   64.255204
1760  46  62  45    25.098977  92.360995  6.047044  157.759263
709   23  63  19    25.138428  83.120539  6.386260  169.338846
90    79  39  35    26.929951  81.914112  7.069172  290.679378
...   ..  ..  ..          ...        ...       ...         ...
2066  69  56  43    19.959917  59.331578  5.982855  195.787103
2199  92  22  25    18.315615  15.361435  7.263119   81.787105
2093  72  52  41    22.472532  62.565325  5.667420   96.747070
1627  18  26   6    30.573999  58.226868  5.818219   62.748038
792   21  66  20    23.249256  73.653468  6.434611  184.767486

[1040 rows x 7 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

LogReg = LogisticRegression(random_state=2)

LogReg.fit(Xtrain,Ytrain)

predicted_values = LogReg.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)

print("Logistic Regression's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

In [44]:
from sklearn.tree import DecisionTreeClassifier

DecisionTree = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5)

DecisionTree.fit(Xtrain,Ytrain)

predicted_values = DecisionTree.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)

print("DecisionTrees's Accuracy is: ", x*100)

print(classification_report(Ytest,predicted_values))

DecisionTrees's Accuracy is:  100.0
              precision    recall  f1-score   support

   blackgram       1.00      1.00      1.00        29
    chickpea       1.00      1.00      1.00        24
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        21
      cotton       1.00      1.00      1.00        16
        jute       1.00      1.00      1.00        20
 kidneybeans       1.00      1.00      1.00        16
      lentil       1.00      1.00      1.00        19
       maize       1.00      1.00      1.00        20
   mothbeans       1.00      1.00      1.00        21
    mungbean       1.00      1.00      1.00        16
  pigeonpeas       1.00      1.00      1.00        19
        rice       1.00      1.00      1.00        18

    accuracy                           1.00       260
   macro avg       1.00      1.00      1.00       260
weighted avg       1.00      1.00      1.00       260

In [45]:
from sklearn.naive_bayes import GaussianNB

NaiveBayes = GaussianNB()

NaiveBayes.fit(Xtrain,Ytrain)

predicted_values = NaiveBayes.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)

print("Naive Bayes's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

Naive Bayes's Accuracy is:  1.0
              precision    recall  f1-score   support

   blackgram       1.00      1.00      1.00        29
    chickpea       1.00      1.00      1.00        24
     coconut       1.00      1.00      1.00        21
      coffee       1.00      1.00      1.00        21
      cotton       1.00      1.00      1.00        16
        jute       1.00      1.00      1.00        20
 kidneybeans       1.00      1.00      1.00        16
      lentil       1.00      1.00      1.00        19
       maize       1.00      1.00      1.00        20
   mothbeans       1.00      1.00      1.00        21
    mungbean       1.00      1.00      1.00        16
  pigeonpeas       1.00      1.00      1.00        19
        rice       1.00      1.00      1.00        18

    accuracy                           1.00       260
   macro avg       1.00      1.00      1.00       260
weighted avg       1.00      1.00      1.00       260

In [49]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(NaiveBayes,features,target,cv=5)
score

array([1.        , 1.        , 1.        , 1.        , 0.99230769])

In [47]:
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler().fit(Xtrain)
X_train_norm = norm.transform(Xtrain)
X_test_norm = norm.transform(Xtest)
SVM = SVC(kernel='poly', degree=3, C=1)
SVM.fit(X_train_norm,Ytrain)
predicted_values = SVM.predict(X_test_norm)
x = metrics.accuracy_score(Ytest, predicted_values)

print("SVM's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

SVM's Accuracy is:  0.9923076923076923
              precision    recall  f1-score   support

   blackgram       1.00      1.00      1.00        29
    chickpea       1.00      1.00      1.00        24
     coconut       1.00      1.00      1.00        21
      coffee       0.91      1.00      0.95        21
      cotton       1.00      1.00      1.00        16
        jute       1.00      0.95      0.97        20
 kidneybeans       1.00      1.00      1.00        16
      lentil       1.00      1.00      1.00        19
       maize       1.00      0.95      0.97        20
   mothbeans       1.00      1.00      1.00        21
    mungbean       1.00      1.00      1.00        16
  pigeonpeas       1.00      1.00      1.00        19
        rice       1.00      1.00      1.00        18

    accuracy                           0.99       260
   macro avg       0.99      0.99      0.99       260
weighted avg       0.99      0.99      0.99       260

In [ ]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)

predicted_values = RF.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)

print("RF's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

In [ ]:
import xgboost as xgb
XB = xgb.XGBClassifier()
XB.fit(Xtrain,Ytrain)

predicted_values = XB.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)

print("XGBoost's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.layers import Dense

In [ ]:
model = keras.Sequential()
model.add(Dense(128, activation='relu', input_shape=[Xtrain.shape[1]]))
model.add(Dense(64))
model.add(Dense(64))
model.add(Dense(len(df['label'].unique()),activation='softmax'))

model.compile(optimizer= 'adam', loss='categorical_crossentropy', metrics=['accuracy'])
history = model.fit(Xtrain, Ytrain, epochs=20, verbose=2,validation_split=0.25)

In [ ]:
from matplotlib import pyplot as plt
plt.plot(history.history['accuracy'])
plt.plot(history.history['val_accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
plt.plot(history.history['loss'])
plt.plot(history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'val'], loc='upper left')
plt.show()

In [ ]:
from sklearn.metrics import mean_squared_error as mse,r2_score

pred = model.predict(Xtest)
r2_score(Ytest,pred)